@import '~normalize.css/normalize.css';
@import 'mixins';

// Elements
html, body {
	font-family: 'Lato', sans-serif;
	color: #333;
}
body {
	padding-bottom: 3.75rem;
}
* {
	box-sizing: border-box;
}
h1 {
	font-size: 3em;
}
h3 {
	font-size: 1.75em;
}
input[type="text"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
	padding: 0.625rem;
	color: #333;
}
.theme-button {
	padding: 0.625rem 1.25rem;
	border: 2px solid #5cdb95;
	color: #fff;
	background-color: #05386b;
	cursor: pointer;
	font-size: 1.125rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	@include transition(background-color 0.4s ease)
}
.theme-button:hover {
	background-color: #379683;
}

// Layout
.row-wrapper {
	.max-width {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		&.narrow-column {
			max-width: 800px;
		}
	}
	.standard-row-padding {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

// General
.text-center {
	text-align: center;
}

// Hero
.hero__wrapper {
	background-size: cover;
	background-position: right center;
	.hero__row {
		padding-top: 4.375rem;
		padding-bottom: 4.375rem;
		color: #fff;
	}
}

// User Search
.search__wrapper {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.625rem;
	text-align: right;
}

.game-card {
	ul {
		list-style-type: none;
		@include displayFlex()
	}
}