@import '~normalize.css/normalize.css';
@import 'mixins';

// Layout
.row-wrapper {
	.max-width {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		&.narrow-column {
			max-width: 800px;
		}
	}
	.standard-row-padding {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

// General
.text-center {
	text-align: center;
}

// Hero
.hero-wrapper {
	background-size: cover;
	background-position: right center;
	.hero-row {
		padding-top: 4.375rem;
		padding-bottom: 4.375rem;
		color: #fff;
	}
}

.game-card {
	ul {
		list-style-type: none;
		@include displayFlex()
	}
}